.ui.container.edit-profile-container{
    h1{
        margin-bottom: 3%;
    }
    padding: 3%;
    width: 95%;
    height: 100%;
    align-items: flex-start;
    .inputs{
        width: 100%;
        .input-area{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3%;
            .input{
                width: 80%
            }
        }
    }
    .save-button{
        float: right;
    }

}