.logo{
    width: 10rem;
    height: 3rem;
}

.search-bar{
    width: 50%;
    text-align: center;
    padding: 0 10%;
}

.user-info{
    display: flex;
    align-items: start;
    justify-items: start;
        .user-name{
        font-size: 1.5rem;
        display: block;
        margin-bottom: 5%;
    }
}